<!--Cuerpo-->
<section id="1">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Sobre mi</h5>
            <p class="card-text">Con el tiempo y mucho esfuerzo,
               he conseguido mi objetivo: trabajar ofreciendo servicios 
               de consultoría, mentoring y programacion utilizando herramientas del
               marketing digital. Con este sueño ya cumplido, seguiré trabajando
               para evolucionar profesionalmente y dar lo mejor de mí..</p> 
          </div>
          <div class="col-xl-12">
              <img src="assets/img/image.jpg" class="col-xl-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Estudio</h5>
            <p class="card-text">Actualmente no estudio ya que termine mi carrera y trabajo
               en servicios de consultoria pero en un futuro me gustaria estudiar la maestria
                de seguridad informatica ya que otras de las cosas que me apasionan son las redes.</p>
          </div>
          <div class="col-xl-12">
              <img src="assets/img/estudio.jpg" class="col-xl-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Aficciones</h5>
            <p class="card-text">La informática es mi hobby, mi profesión y mi pasión. Soy un afortunado usuario y desarrollador de 
              software libre. Disfruto de esta libertad desde hace ya más de 5 años, y gracias a GNU/Linux.</p>
         
          </div>
          <div class="col-xl-12">
              <img src="assets/img/info.jpg" class="col-xl-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
